DB_CONNECTION_STRING=mongodb://localhost:27017
EMAIL_USER=123@outlook.com
EMAIL_PASS=password
JWT_SECRET=exmapleForJWTSecret
PORT=3000
FORGET_PASSWORD_SECRET=example

GOOGLE_CREDIENTIALS_CLIENT_ID_web=543234829301-2pgqtk6133g5k2l6nbhbfn1dq21ffvi0.apps.googleusercontent.com
GOOGLE_CREDIENTIALS_CLIENT_ID_flutter_web=731962970730-93vd9ao2c9ckhmguioje6ar6jmjk3cic.apps.googleusercontent.com
GOOGLE_CREDIENTIALS_CLIENT_ID_flutter_android=731962970730-eogvrnvtmkq777vvd7s5gumlguqql9o2.apps.googleusercontent.com
